[Desktop Entry]
Version=1.0
Name=ArtCraft
Exec=navi-browser-run --force-dark-mode --app=https://app.getartcraft.com
Comment=ArtCraft as a navi webapp
Terminal=false
Type=Application
Icon=navi-artcraft
StartupNotify=true
Categories=Graphics;
