[Desktop Entry]
Version=1.0
Name=Bitwarden
Exec=chromium --app=https://vault.bitwarden.com
Comment=FOSS password manager vault.
Terminal=false
Type=Application
Icon=navi-bitwarden
StartupNotify=true
Categories=Utility;
