[Desktop Entry]
Version=1.0
Name=ChatGPT
Exec=chromium --app=https://chatgpt.com
Comment=ChatGPT as a navi webapp
Terminal=false
Type=Application
Icon=navi-chatgpt
StartupNotify=true
Categories=Network;
