[Desktop Entry]
Version=1.0
Name=Cloudflare
Exec=navi-browser-run --force-dark-mode --app=https://dash.cloudflare.com
Comment=Cloudflare as a navi webapp
Terminal=false
Type=Application
Icon=navi-cloudflare
StartupNotify=true
Categories=Network;
