[Desktop Entry]
Version=1.0
Name=Copilot
Exec=navi-browser-run --force-dark-mode --app=https://copilot.microsoft.com
Comment=Microsoft Copilot as a navi webapp
Terminal=false
Type=Application
Icon=navi-copilot
StartupNotify=true
Categories=Network;
