[Desktop Entry]
Version=1.0
Name=CryptPad
Exec=navi-browser-run --force-dark-mode --app=https://cryptpad.fr
Comment=Encrypted docs, sheets and whiteboards.
Terminal=false
Type=Application
Icon=navi-cryptpad
StartupNotify=true
Categories=Office;
