[Desktop Entry]
Version=1.0
Name=DeepSeek
Exec=chromium --force-dark-mode --app=https://chat.deepseek.com
Comment=DeepSeek as a navi webapp
Terminal=false
Type=Application
Icon=navi-deepseek
StartupNotify=true
Categories=Network;
