[Desktop Entry]
Version=1.0
Name=DevDocs
Exec=chromium --force-dark-mode --app=https://devdocs.io
Comment=Fast, offline-capable API documentation.
Terminal=false
Type=Application
Icon=navi-devdocs
StartupNotify=true
Categories=Documentation;
