[Desktop Entry]
Version=1.0
Name=Discord
Exec=chromium --force-dark-mode --app=https://discord.com/channels/@me
Comment=Discord as a navi webapp
Terminal=false
Type=Application
Icon=navi-discord
StartupNotify=true
Categories=Network;Chat;
