[Desktop Entry]
Version=1.0
Name=Excalidraw
Exec=chromium --app=https://excalidraw.com
Comment=Sketch-style whiteboard for diagrams and ideas.
Terminal=false
Type=Application
Icon=navi-excalidraw
StartupNotify=true
Categories=Graphics;
