[Desktop Entry]
Version=1.0
Name=Fizzy
Exec=chromium --app=https://app.fizzy.do
Comment=Boards and tasks for team projects.
Terminal=false
Type=Application
Icon=navi-fizzy
StartupNotify=true
Categories=Office;
