[Desktop Entry]
Version=1.0
Name=Gemini
Exec=chromium --app=https://gemini.google.com
Comment=Google Gemini as a navi webapp
Terminal=false
Type=Application
Icon=navi-gemini
StartupNotify=true
Categories=Network;
