[Desktop Entry]
Version=1.0
Name=glyyph
Exec=chromium --force-dark-mode --app=https://xvoidsx.github.io/glyyph
Comment=nostr client and relay for free expression
Terminal=false
Type=Application
Icon=navi-glyyph
StartupNotify=true
Categories=Network;
