[Desktop Entry]
Version=1.0
Name=Gmail
Exec=chromium --app=https://mail.google.com
Comment=Gmail as a navi webapp
Terminal=false
Type=Application
Icon=navi-gmail
StartupNotify=true
Categories=Office;
