[Desktop Entry]
Version=1.0
Name=Google Messages
Exec=chromium --app=https://messages.google.com/web
Comment=Google Messages for web as a navi webapp
Terminal=false
Type=Application
Icon=navi-googlemessages
StartupNotify=true
Categories=Network;Chat;
