[Desktop Entry]
Version=1.0
Name=Google Chat
Exec=chromium --app=https://chat.google.com
Comment=Google Chat as a navi webapp
Terminal=false
Type=Application
Icon=navi-googlechat
StartupNotify=true
Categories=Network;Chat;
