[Desktop Entry]
Version=1.0
Name=Google Docs
Exec=chromium --force-dark-mode --app=https://docs.google.com
Comment=Google Docs as a navi webapp
Terminal=false
Type=Application
Icon=navi-googledocs
StartupNotify=true
Categories=Office;
