[Desktop Entry]
Version=1.0
Name=Hugging Face
Exec=navi-browser-run --force-dark-mode --app=https://huggingface.co
Comment=Models, datasets, and AI spaces.
Terminal=false
Type=Application
Icon=navi-huggingface
StartupNotify=true
Categories=Network;
