[Desktop Entry]
Version=1.0
Name=Instagram
Exec=navi-browser-run --force-dark-mode --app=https://www.instagram.com
Comment=Instagram as a navi webapp
Terminal=false
Type=Application
Icon=navi-instagram
StartupNotify=true
Categories=Network;
