[Desktop Entry]
Version=1.0
Name=itch.io
Exec=chromium --app=https://itch.io
Comment=Indie games and weird little masterpieces.
Terminal=false
Type=Application
Icon=navi-itch
StartupNotify=true
Categories=Game;
