[Desktop Entry]
Version=1.0
Name=Kimi
Exec=chromium --force-dark-mode --app=https://kimi.com/en
Comment=Kimi as a navi webapp
Terminal=false
Type=Application
Icon=navi-kimi
StartupNotify=true
Categories=Network;
