[Desktop Entry]
Version=1.0
Name=Lemmy
Exec=chromium --app=https://join-lemmy.org
Comment=Federated link aggregation.
Terminal=false
Type=Application
Icon=navi-lemmy
StartupNotify=true
Categories=Network;
