[Desktop Entry]
Version=1.0
Name=Lichess
Exec=navi-browser-run --force-dark-mode --app=https://lichess.org
Comment=Free FOSS chess for everyone.
Terminal=false
Type=Application
Icon=navi-lichess
StartupNotify=true
Categories=Game;
