[Desktop Entry]
Version=1.0
Name=Lumo
Exec=navi-browser-run --force-dark-mode --app=https://lumo.proton.me
Comment=Lumo, Proton's private AI assistant, as a navi webapp
Terminal=false
Type=Application
Icon=navi-lumo
StartupNotify=true
Categories=Network;
