[Desktop Entry]
Version=1.0
Name=Mastodon
Exec=chromium --app=https://mastodon.social
Comment=Flagship fediverse microblogging.
Terminal=false
Type=Application
Icon=navi-mastodon
StartupNotify=true
Categories=Network;
