[Desktop Entry]
Version=1.0
Name=navi radio
Exec=navi-browser-run --force-dark-mode --app=https://xvoidsx.github.io/navi-radio
Comment=navi radio, our own music app
Terminal=false
Type=Application
Icon=navi-navi-radio
StartupNotify=true
Categories=AudioVideo;Audio;
