[Desktop Entry]
Version=1.0
Name=neighborli
Exec=navi-browser-run --force-dark-mode --app=https://neighborli.xyz
Comment=friendly neighborhood on the fediverse
Terminal=false
Type=Application
Icon=navi-neighborli
StartupNotify=true
Categories=Network;
