[Desktop Entry]
Version=1.0
Name=Odysee
Exec=chromium --app=https://odysee.com
Comment=Odysee as a navi webapp
Terminal=false
Type=Application
Icon=navi-odysee
StartupNotify=true
Categories=AudioVideo;
