[Desktop Entry]
Version=1.0
Name=Penpot
Exec=chromium --force-dark-mode --app=https://penpot.app
Comment=FOSS design tool for interfaces and prototypes.
Terminal=false
Type=Application
Icon=navi-penpot
StartupNotify=true
Categories=Graphics;
