[Desktop Entry]
Version=1.0
Name=Photopea
Exec=navi-browser-run --force-dark-mode --app=https://www.photopea.com
Comment=A Photoshop-class editor in a browser tab.
Terminal=false
Type=Application
Icon=navi-photopea
StartupNotify=true
Categories=Graphics;
