[Desktop Entry]
Version=1.0
Name=Proton Drive
Exec=chromium --force-dark-mode --app=https://drive.proton.me
Comment=Proton Drive as a navi webapp
Terminal=false
Type=Application
Icon=navi-protondrive
StartupNotify=true
Categories=Office;
