[Desktop Entry]
Version=1.0
Name=Proton Calendar
Exec=navi-browser-run --force-dark-mode --app=https://calendar.proton.me
Comment=Proton Calendar as a navi webapp
Terminal=false
Type=Application
Icon=navi-protoncalendar
StartupNotify=true
Categories=Office;
