[Desktop Entry]
Version=1.0
Name=Proton Mail
Exec=chromium --force-dark-mode --app=https://mail.proton.me
Comment=Proton Mail as a navi webapp
Terminal=false
Type=Application
Icon=navi-protonmail
StartupNotify=true
Categories=Office;
