[Desktop Entry]
Version=1.0
Name=RetroArch Web
Exec=chromium --app=https://web.libretro.com
Comment=Retro emulation right in the browser.
Terminal=false
Type=Application
Icon=navi-retroarch
StartupNotify=true
Categories=Game;
