[Desktop Entry]
Version=1.0
Name=Rumble
Exec=chromium --app=https://rumble.com
Comment=Rumble as a navi webapp
Terminal=false
Type=Application
Icon=navi-rumble
StartupNotify=true
Categories=AudioVideo;
