[Desktop Entry]
Version=1.0
Name=SoundCloud
Exec=navi-browser-run --force-dark-mode --app=https://soundcloud.com
Comment=SoundCloud as a navi webapp
Terminal=false
Type=Application
Icon=navi-soundcloud
StartupNotify=true
Categories=AudioVideo;
