[Desktop Entry]
Version=1.0
Name=Spotify
Exec=chromium --app=https://open.spotify.com
Comment=Spotify web player as a navi webapp
Terminal=false
Type=Application
Icon=navi-spotify
StartupNotify=true
Categories=AudioVideo;
