[Desktop Entry]
Version=1.0
Name=Stoat
Exec=chromium --app=https://stoat.chat
Comment=FOSS Discord-style chat, community-run. (formerly Revolt)
Terminal=false
Type=Application
Icon=navi-stoat
StartupNotify=true
Categories=Network;
