[Desktop Entry]
Version=1.0
Name=Telegram
Exec=chromium --force-dark-mode --app=https://web.telegram.org
Comment=Fast, cloud-synced messaging.
Terminal=false
Type=Application
Icon=navi-telegram
StartupNotify=true
Categories=Network;
