[Desktop Entry]
Version=1.0
Name=Tuta
Exec=navi-browser-run --force-dark-mode --app=https://app.tuta.com
Comment=FOSS encrypted mail.
Terminal=false
Type=Application
Icon=navi-tuta
StartupNotify=true
Categories=Network;
