[Desktop Entry]
Version=1.0
Name=Twitch
Exec=chromium --app=https://www.twitch.tv
Comment=Twitch as a navi webapp
Terminal=false
Type=Application
Icon=navi-twitch
StartupNotify=true
Categories=AudioVideo;
