[Desktop Entry]
Version=1.0
Name=WeatherWise
Exec=navi-browser-run --force-dark-mode --app=https://web.weatherwise.app
Comment=Weather and radar, beautifully done.
Terminal=false
Type=Application
Icon=navi-weatherwise
StartupNotify=true
Categories=Utility;
