[Desktop Entry]
Version=1.0
Name=Wikipedia
Exec=navi-browser-run --force-dark-mode --app=https://en.wikipedia.org
Comment=The free encyclopedia.
Terminal=false
Type=Application
Icon=navi-wikipedia
StartupNotify=true
Categories=Network;
