[Desktop Entry]
Version=1.0
Name=Yomi
Exec=navi-browser-run --force-dark-mode --app=https://yomi.to
Comment=Free anime streaming.
Terminal=false
Type=Application
Icon=navi-yomi
StartupNotify=true
Categories=AudioVideo;Video;
