[Desktop Entry]
Version=1.0
Name=YouTube
Exec=chromium --force-dark-mode --app=https://www.youtube.com
Comment=YouTube as a navi webapp
Terminal=false
Type=Application
Icon=navi-youtube
StartupNotify=true
Categories=AudioVideo;
